build/
bin/
cmake/
pkgconfig/
include/
tests/
.settings/
*.egg-info*
.idea/
Debug/
cmake_install.cmake
Makefile
CMakeFiles/
*.so
*.a
*.dylib
*.log
.DS_Store
configure
aclocal.m4
__pycache__/
.cproject
cmake-build*/
release/centos-7
release/ubuntu-18.04
release/alpine-3.8